<div class="post card">
    <h2 class="card-header">Create New Post</h2>
    <form id="new-post-form" class="card-body">
      <div>
        <label for="post-title" class="form-label">Title</label>
        <input type="text" class="form-input" name="post-title" />
      </div>
      <div>
        <label for="post-body" class="form-label">Content</label>
        <textarea name="post-body" class="form-input form-textarea"></textarea>
      </div>
      <button type="submit" class="btn" >Create Post</button>
    </form>  
</div>

<script src="/js/new.js"></script>